{% extends 'base.html' %}
{% load static %}

{% block title %}Home - EcoMend{% endblock %}

{% block content %}
<style>
    @font-face {
        font-family: 'SofiaProRegular';
        src: url('/static/fonts/sofia-pro-regular-webfont.woff2') format('woff2'),
             url('/static/fonts/sofia-pro-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .banner {
        display: flex;
        align-items: center;
        height: 100vh;
        background: rgb(2,131,76);
        color: white;
        position: relative;
        overflow: hidden;

    }

    .banner-text {
        font-family: 'SofiaProRegular', sans-serif;
        max-width: 50%;
        z-index: 1;
        padding-left: 100px;
    }

    .banner-text h1 {
        font-size: 48px;
        margin: 0;
        font-weight: bold;
    }

    .banner-text p {
        font-size: 20px;
        margin: 10px 0 0;
    }

    .banner-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
        z-index: 0;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        border: none;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .card-title {
        font-family: 'SofiaProRegular', sans-serif;
        font-size: 26px;
        color: black;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .card-title a {
        color: black;
        text-decoration: none;
    }

    .card-title a:hover {
        color: rgb(2,131,76);
        cursor: pointer;
    }

    .card-text {
        font-family: 'SofiaProRegular', sans-serif;
        font-size: 14px;
        margin-top: 0.5rem;
        flex-grow: 1;
    }

    .card-img-top {
        height: 360px;
        width: 330px;
        object-fit: cover;
        cursor: pointer;
    }

    .btn-primary {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: rgb(2,131,76);
    }

    .links{
        color: rgb(2,131,76);
    }

    .links:hover{
        color: rgb(2,131,76);
        text-decoration: underline;
    }

    .headers{
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 50px;
        color: rgb(2,131,76);
        font-weight: bold;
    }
</style>


<div class="banner">
    <div class="banner-text">
        <h1>Buying and Selling Plastic</h1>
        <p>Multiple grades of plastics</p>
        <button class="btn btn-primary">Get in touch</button>
    </div>
    <div class="banner-image">
        <img src="{% static 'static_images/home_image.jpg' %}" alt="Buying and Selling Plastic">
    </div>
</div>

<div class="container mt-4">
    <h1 class="headers">Welcome to EcoMend</h1>
    <p>
        EcoMend is a premier platform for connecting buyers and sellers of used plastics, offering over 100 grades. Since 2005, we have facilitated the trading of plastic, leveraging our extensive knowledge and expertise in global end markets.
    <p>
    <p>
    EcoMend stands out as a leading company in the world for purchasing scrap plastic and selling recycled plastic, thanks to our international team of professionals operating across the globe. Visit our <a class="links" href="#">Meet the Team page</a> to learn more about our multinational team.
    <p>
    </p>
    <p>
        Our ethical and reliable approach to purchasing and disposing of used plastic sets EcoMend apart. Our stringent procedures ensure complete visibility and traceability over the material's journey, giving customers peace of mind that their material is being handled ethically and responsibly.
    </p>
    <p>
        We provide a variety of services to support our users, including detailed listings with images and descriptions, secure transactions, and dedicated customer support. Whether you are a large corporation or a small business, EcoMend is committed to helping you achieve your sustainability goals through responsible plastic trading.
    </p>
    <p>
        Join EcoMend today and be a part of the movement towards a more sustainable future. Together, we can make a difference by reducing plastic waste and promoting the reuse of valuable materials.
    </p>
    <h1 class="headers">Selling plastic for recycling</h1>
    <p>
        EcoMend connects buyers and sellers of high-quality used plastics suitable for reuse. Our platform ensures that all plastics meet strict quality standards, free from contaminants and barrier layers. We feature listings from trusted sellers using advanced technology, providing detailed information on various polymers and regrinds.
    </p>
    <p>
        For more information about the range of plastic regrinds that EcoMend sell, <a class="links" href="#">speak to a member of the team today.</a>
    </p>

    <h1 class="headers">EcoMend - a medium for scrap plastic exchange</h1>
    <p>
        At EcoMend, we work with companies in a range of sectors to buy discarded plastic, which we subsequently recycle for use in green initiatives. Developing enduring relationships with our suppliers is our top priority as opposed to taking a merely transactional approach. In order to guarantee that suppliers get the most out of their discarded plastic, we offer advice on how to separate, store, and handle plastic materials.
    </p>
    <p>
        For material collection, a minimum volume of 5 metric tons, or half a truck, is needed. If keeping your scrap plastic in storage while it accumulates this much is a worry, PlastiTrade can set up appropriate storage options for your company. By doing this, you can keep your workspace safer and recover important space.
    </p>

    <h1 class="headers">Plastic Categories</h1>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card">
                {% if category.image %}
                <a href="{% url 'category_detail' pk=category.pk %}">
                    <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
                </a>
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">
                        <a href="#">{{ category.name }}</a>
                    </h4>
                    <p class="card-text">{{ category.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
