<!-- templates/navbar.html -->
{% load static %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000000;">
    <a class="navbar-brand ml-3" href="/">EcoMend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto" style="flex-grow: 1;">
            <li class="nav-item">
                <a class="nav-link text-center" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="#">MarketPlace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="#">New Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="#">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'static_images/user_profile_default.png' %}" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'view_profile' %}">View Profile</a>
                        <a class="dropdown-item" href="{% url 'update_profile' %}">Update Profile</a>
                        <a class="dropdown-item" href="{% url 'my_listings' %}">My Listings</a>
                        <a class="dropdown-item" href="{% url 'login_history' %}">Login History</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                        {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'site_statistics' %}">Site Statistics</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <form method="post" action="{% url 'logout' %}" class="dropdown-item p-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link btn-block text-left">Sign Out</button>
                        </form>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
